@import url("https://fonts.googleapis.com/css2?family=Jaro:wght@400&display=swap");

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	background-color: #faedcd;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0.5em 0;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer h3 {
	color: black;
	padding-left: 2em;
	text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.1);
	font-family: "Jaro", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
}

button {
	background: transparent;
	border: none;
	padding: 0;
	margin-top: 0;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

img#IG,
img#FB,
img#X {
	width: 2em;
	transition: transform 0.3s ease;
	filter: brightness(0) invert(0);
}

img#IG:hover,
img#FB:hover,
img#X:hover {
	transform: scale(1.5);
}

#networks {
	display: flex;
	gap: 1em;
	padding-right: 3em;
	align-items: center;
}

body {
	padding-bottom: 80px;
}
